<div class="xl:h-full grid items-center gap-y-8 sm:gap-y-0 sm:gap-x-10 sm:grid-cols-2 mt-32 xl:mt-auto content-center">
  <div class="sm:col-span-1 space-y-5 md:space-y-8 pl-8">
    <h1 class="text-3xl sm:text-4xl xl:text-4xl font-lato font-bold">
      Single Lego
    </h1>
    <div class="max-w-sm">
      <p class="max-w-sm text-xs font-lato font-light md:text-base mb-4 text-gray-500">
        This is a Lottie of a Lego illusion that can have parts turned on and off and have its themes switched at runtime.
      </p>
      <button class="py-2 px-4 mr-4 mb-4 bg-black text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="hideSingleLegoOne = !hideSingleLegoOne">Hide Lego One</button>

      <button class="py-2 px-4 mr-4 mb-4 bg-black text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="hideSingleLegoTwo = !hideSingleLegoTwo" >Hide Lego Two</button>

      <button class="py-2 px-4 mr-4 mb-4 bg-black text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="hideDoubleLegoEight = !hideDoubleLegoEight" >Hide Lego Three</button>

      <button class="py-2 px-4 mr-4 mb-4 bg-blue-500 text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="blueTheme()" >Blue Theme</button>

      <button class="py-2 px-4 mr-4 mb-4 bg-pink-500 text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="pinkTheme()" >Pink Theme</button>
    </div>
  </div>
  <div class="grid justify-items-center">
    <div 
id="single-lego-one" 
[ngClass]="{ 
  'biotic-purple-theme': bioticPurpleTheme,
  'biotic-blue-theme': bioticBlueTheme,
  'biotic-blurple-theme': bioticBlurpleTheme,
  'biotic-pink-theme': bioticPinkTheme,
  'biotic-black-theme': bioticBlackTheme,
  'hide-single-lego-1': hideSingleLegoOne,
  'hide-single-lego-2': hideSingleLegoTwo,
  'hide-single-lego-3': hideSingleLegoThree,
  'hide-single-lego-4': hideSingleLegoFour,
  'hide-double-lego-1': hideDoubleLegoOne,
  'hide-double-lego-2': hideDoubleLegoTwo,
  'hide-double-lego-3': hideDoubleLegoThree,
  'hide-double-lego-4': hideDoubleLegoFour,
  'hide-double-lego-5': hideDoubleLegoFive,
  'hide-double-lego-6': hideDoubleLegoSix,
  'hide-double-lego-7': hideDoubleLegoSeven,
  'hide-double-lego-8': hideDoubleLegoEight
}">
  </div>
</div>




</div>