<div class="xl:h-full grid items-center gap-y-8 sm:gap-y-0 sm:gap-x-10 sm:grid-cols-2 mt-32 xl:mt-auto content-center">
  <div class="sm:col-span-1 space-y-5 md:space-y-8 pl-8">
    <h1 class="text-3xl sm:text-4xl xl:text-4xl font-lato font-bold">
      Kanizsa Triangle
    </h1>
    <div class="max-w-sm">
      <p class="max-w-sm text-xs font-lato font-light md:text-base mb-4 text-gray-500">
        The Kanizsa triangle is an optical illusion first described by the Italian psychologist Gaetano Kanizsa in 1955. The Kanizsa triangle is known as a subjective or illusory contour illusion. The Kanizsa triangle is similar to other contour illusions like the Ehrenstein illusion.
      </p>
      <button class="py-2 px-4 mr-4 mb-4 bg-black text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="blackTheme()">Black Theme</button>

      <button class="py-2 px-4 mr-4 mb-4 bg-pink-500 text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="pinkTheme()">Pink Theme</button>

      <button class="py-2 px-4 mr-4 mb-4 bg-purple-500 text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="purpleTheme()">Purple Theme</button>

      <button class="py-2 px-4 mr-4 mb-4 bg-blue-500 text-white font-lato font-light text-sm rounded-lg shadow-md focus:outline-none" (click)="blueTheme()">Blue Theme</button>
    </div>
  </div>
  <div class="grid justify-items-center">
    <div
      id="kanizsa-triangle"
      [ngClass]="{
        'kanizsa-purple-theme': bioticPurpleTheme,
        'kanizsa-blue-theme': bioticBlueTheme,
        'kanizsa-pink-theme': bioticPinkTheme,
        'kanizsa-black-theme': bioticBlackTheme
      }"
    ></div>
  </div>
</div>
