<main>
  <div class="xl:h-screen bg-blue-50 overflow-hidden relative">
    <!-- Start Hero -->
    <div class="sm:h-96 xl:h-full container mx-auto px-5">
      <div class="absolute top-8">
        <img src="../assets/logo.svg" alt="LottieFiles Evangelist Demo Logo" />
      </div>

      <app-kanizsa-triangle></app-kanizsa-triangle>
    </div>
    <div class="hidden sm:block sm:absolute bottom-6 sm:inset-x-1/2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 animate-bounce"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 14l-7 7m0 0l-7-7m7 7V3"
        />
      </svg>
    </div>
  </div>
  <!-- End Hero -->

    <div class="xl:h-screen bg-blue-50 overflow-hidden relative">
    <!-- Start Hero -->
    <div class="sm:h-96 xl:h-full container mx-auto px-5">
      <div class="absolute top-8 border-t-2"></div>
<app-single-lego-one></app-single-lego-one>
     
    </div>
  </div>
  <!-- End Hero -->

  

</main>
<router-outlet></router-outlet>
