@import 'tailwindcss';


.kanizsa-purple-theme > svg g.top-circle path {
  fill: #7C0BCA !important;
}

.kanizsa-purple-theme > svg g.bottom-right-circle path {
  fill: #7C0BCA !important;
}

.kanizsa-purple-theme > svg g.bottom-left-circle path {
  fill: #7C0BCA !important;
}

.kanizsa-purple-theme > svg g.bottom-triangle path {
  stroke: #A663D5 !important;
}


.kanizsa-blue-theme > svg g.top-circle path {
  fill: #300BCA !important;
}

.kanizsa-blue-theme > svg g.bottom-right-circle path {
  fill: #300BCA !important;
}

.kanizsa-blue-theme > svg g.bottom-left-circle path {
  fill: #300BCA !important;
}

.kanizsa-blue-theme > svg g.bottom-triangle path {
  stroke: #7963D5 !important;
}


.kanizsa-pink-theme > svg g.top-circle path {
  fill: #C80BCA !important;
}

.kanizsa-pink-theme > svg g.bottom-right-circle path {
  fill: #C80BCA !important;
}

.kanizsa-pink-theme > svg g.bottom-left-circle path {
  fill: #C80BCA !important;
}

.kanizsa-pink-theme > svg g.bottom-triangle path {
  stroke: #D463D5 !important;
}



.kanizsa-black-theme > svg g.bottom-left-circle path {
  fill: #000000 !important;
}

.kanizsa-black-theme > svg g.bottom-right-circle path {
  fill: #000000 !important;
}

.kanizsa-black-theme > svg g.top-circle path {
  fill: #000000 !important;
}

.kanizsa-black-theme > svg g.bottom-triangle path {
  stroke: #000000 !important;
}




.hide-single-lego-1 > svg g.single-lego-1 {
  display: none !important;
}

.hide-single-lego-2 > svg g.single-lego-2 {
  display: none !important;
}

.hide-single-lego-3 > svg g.single-lego-3 {
  display: none !important;
}

.hide-single-lego-4 > svg g.single-lego-4 {
  display: none !important;
}

.hide-double-lego-1 > svg g.double-lego-1 {
  display: none !important;
}

.hide-double-lego-2 > svg g.double-lego-2 {
  display: none !important;
}

.hide-double-lego-3 > svg g.double-lego-3 {
  display: none !important;
}

.hide-double-lego-4 > svg g.double-lego-4 {
  display: none !important;
}

.hide-double-lego-5 > svg g.double-lego-5 {
  display: none !important;
}

.hide-double-lego-6 > svg g.double-lego-6 {
  display: none !important;
}

.hide-double-lego-7 > svg g.double-lego-7 {
  display: none !important;
}

.hide-double-lego-8 > svg g.double-lego-8 {
  display: none !important;
}


.biotic-purple-theme > svg g.lego-top path {
  fill: #A663D5 !important;
}

.biotic-purple-theme > svg g.lego-front-side path {
  fill: #A663D5 !important;
}

.biotic-purple-theme > svg g.top-circle path {
  fill: #A663D5 !important;
}

.biotic-purple-theme > svg g.side-circle path {
  fill: #A663D5 !important;
}

.biotic-purple-theme > svg g.lego-side path {
  fill: #7C0BCA !important;
}


.biotic-blue-theme > svg g.lego-top path {
  fill: #7963D5 !important;
}

.biotic-blue-theme > svg g.lego-front-side path {
  fill: #7963D5 !important;
}

.biotic-blue-theme > svg g.top-circle path {
  fill: #7963D5 !important;
}

.biotic-blue-theme > svg g.side-circle path {
  fill: #300BCA !important;
}

.biotic-blue-theme > svg g.lego-side path {
  fill: #300BCA !important;
}


.biotic-blurple-theme > svg g.lego-top path {
  fill: #9063D5 !important;
}

.biotic-blurple-theme > svg g.lego-front-side path {
  fill: #9063D5 !important;
}

.biotic-blurple-theme > svg g.top-circle path {
  fill: #9063D5 !important;
}

.biotic-blurple-theme > svg g.side-circle path {
  fill: #560BCA !important;
}

.biotic-blurple-theme > svg g.lego-side path {
  fill: #560BCA !important;
}

.biotic-pink-theme > svg g.lego-top path {
  fill: #BD63D5 !important;
}

.biotic-pink-theme > svg g.lego-front-side path {
  fill: #BD63D5 !important;
}

.biotic-pink-theme > svg g.top-circle path {
  fill: #BD63D5 !important;
}

.biotic-pink-theme > svg g.side-circle path {
  fill: #A20BCA !important;
}

.biotic-pink-theme > svg g.lego-side path {
  fill: #A20BCA !important;
}

.biotic-black-theme > svg g.lego-top path {
  fill: #5C5C5C !important;
}

.biotic-black-theme > svg g.lego-front-side path {
  fill: #5C5C5C !important;
}

.biotic-black-theme > svg g.top-circle path {
  fill: #5C5C5C !important;
}

.biotic-black-theme > svg g.side-circle path {
  fill: #000000 !important;
}

.biotic-black-theme > svg g.lego-side path {
  fill: #000000 !important;
}